@charset "utf-8";
/* CSS Document */
html,body{
	margin: 0px;
	width: 100%;
	height: 100%;
	
}
img{
	opacity: 11;
}
img:hover{
	opacity: 0.93;
}
a .img1{
	width: 90px;
	height: 55px;
	margin-right: 1px;
	}

.btn1{
	transition: background linear 0.8s;
	box-shadow: 0px 3px 8px #5f2b1a;
	}

.pop{
	background:url(.././images/saxophone.jpg);
	transition:background linear 0.6s;
	margin: 0px,0px,10px,0px;
}
	
.pop2
{	
	color: antiquewhite;
	background-color:rgba(0,9,5,0.6);
}


.pop3
{	top:300px;
	height: 243px;
	margin-left:0px;
	margin-right:50px;
	width:600px;
	transition:transform linear 1.5s;
}
.pop3:hover{
	top:200px;
	height:200px;
	width:500px;
	-webkit-transform: rotateY(90deg); 
    -webkit-transform-style: preserve-3d; 
    transform: rotateY(90deg);
    transform-style: preserve-3d;
}


.carousel-indicators li
{	
	
	border-radius: 0 ;
	width: 38px;
	height: 2px
}

.carousel-indicators .active
{
	border-color:darkgrey;	
	border-radius: 0 ;
	border-width:0.6px;
	width: 38px;
	height: 2px
}
a:link{
	color:white;
	text-decoration: none;
}

a:visited{
	color:red;
	text-decoration: none
}
a:active{
	color:skyblue;
	text-decoration: none
}
.field label{
	width: 300px;
	float: left;
}


 